@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #f1eee9;
    --color-secondary: #fbfaf9;
    --color-maroon: #43042b;
    --color-button: #ec1d24;
    --color-button-hover: #ad161b;
    --color-black: #282828;
    --color-little-card: #fbfaf9;
    --color-resource-one-card : #f77f64;

    --font-size-hero-heading: 4.375rem;
    --font-size-hero-subheading-FAQ-heading: 2.125rem;
    --font-size-hero-description-FAQ-subheading: 1.25rem;
    --font-size-three-card-heading-maroon-heading-little-card-main-heading: 2.625rem;
    --font-size-three-card-description: 1.125rem;
    --font-size-little-card-heading-maroon-subheading-four-card-heading: 1.75rem;
    --font-size-four-card-subheading: 1rem;
    --font-size-four-card-description-little-cards-link: 0.875rem;

    --line-height-hero-heading: 4.625rem;
    --line-height-hero-subheading: 2.5rem;
    --line-height-hero-description: 1.875rem;
    --line-height-maroon-description: 1.5rem;
    --line-height-maroon-subheading-little-card-heading: 2.125rem;
    --line-height-maroon-heading: 2.875rem;
    --line-height-three-card-description: 1.75rem;
    --line-height-four-card-subheading: 1.5rem;
    --line-height-four-card-ddescription: 1.25rem;

    --letter-spacing-hero-heading: -3.5px;
    --letter-spacing-hero-subheading-three-card-heading: -1px;
    --letter-spacing-maroon-subheading: -.6px;

    --font-weight-all-headings: 500;
    --font-weight-all-description: 400;
    --font-weight-four-card-subheading: 600;
}

body {
    font-family: "Readex Pro", sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-black);
}


.parent-container {
    max-width: 80rem;
    margin-inline: auto;
}

.btn {
    background-color: var(--color-button);
    padding: 0.85rem 1.9rem 0.85rem 1.4rem;
    border: none;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-weight: var(--font-weight-all-description);
    transition: 0.2s ease-in;
}

.btn:hover {
    background-color: var(--color-button-hover);
}




/** Icon */
.arrow-up-icon {
    font-size: 0.9rem;
    position: relative;
    left: 5px;
}

.gt-icon {
    transform: translateY(3px);
    font-size: 0.5rem;
}

.arrow-right-icon {
    padding-left: 4px;
    transition: 0.3s ease;
}

.btn:hover i {
    transform: translateX(5px);
}


/** NAVBAR */
.nav-container {
    display: flex;
    gap: 5rem;
    align-items: center;
    padding: 1.5rem 0 1.2rem;
}

.fa-angle-down {
    font-weight: 900;
}

.logo {
    height: 2.74rem;
}

.nav-links {
    display: flex;
    gap: 2.4rem;

    list-style-type: none;
}

.nav-links a {
    font-weight: var(--font-weight-all-headings);
    position: relative;
    padding-bottom: 0.3rem;
    transition: 0.5s ease;
}

.nav-links a:hover {
    color: var(--color-button-hover)
}

.nav-links a::after {
    content: "";
    background-color: var(--color-button-hover);
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2px;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.3s linear;
}

.nav-links a:hover::after {
    transform: scale(1);
}

.nav-links>li>a:hover .arrow-icon {
    transform: rotate(180deg);
}

/** HERO SECTION  */
.hero-section {
    background: linear-gradient(to bottom, var(--color-primary) 45%, var(--color-secondary) 75%, white 85%);
}

.nav-link {
    display: flex;
    gap: 1rem;
    font-size: 0.75rem;
    padding-top: 1.4rem;
}

.hero-sub-container {
    display: grid;
    grid-template-columns: 1fr 1.1fr;

    padding: 6rem 0 2.5rem;

}

.hero-description {
    color: var(--color-black);
}

.main-heading {
    font-size: var(--font-size-hero-heading);
    font-weight: var(--font-weight-all-headings);
    line-height: var(--line-height-hero-heading);
    letter-spacing: var(--letter-spacing-hero-heading);
    padding: 1rem 0;

}

.subheading {
    font-size: var(--font-size-hero-subheading-FAQ-heading);
    line-height: var(--line-height-hero-subheading);
    font-weight: var(--font-weight-all-headings);
    letter-spacing: var(--letter-spacing-hero-subheading-three-card-heading);
    padding: 1rem 0;

}

.description {
    font-size: var(--font-size-hero-description-FAQ-subheading);
    line-height: var(--line-height-hero-description);
    font-weight: var(--font-weight-all-description);
    padding: 1rem 0;


}
.heading-btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: var(--font-weight-all-description);
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** OVERVIEW SECTION */
.overview-section {
    background-color: var(--color-maroon);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.9rem;
    color: white;
    padding: 4.95rem 0 6rem;
}

.overview-heading {
    font-size: var(--font-size-three-card-heading-maroon-heading-little-card-main-heading);
    font-weight: var(--font-weight-all-headings);
    line-height: var(--line-height-maroon-heading);
    letter-spacing: var(--letter-spacing-hero-subheading-three-card-heading);
}

.overview-right-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overview-subheading {
    font-size: var(--font-size-little-card-heading-maroon-subheading-four-card-heading);
    font-weight: var(--font-weight-all-headings);
    line-height: var(--line-height-maroon-subheading-little-card-heading);
    letter-spacing: var(--letter-spacing-maroon-subheading);
}

.overview-description {
    font-weight: var(--font-weight-all-description);
    line-height: var(--line-height-maroon-description);
}

/** Three containers */
.common-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: start;
    gap: 5rem;

    padding: 5rem 0;
}

.common-container-heading {
    color: var(--color-black);
    font-size: var(--font-size-three-card-heading-maroon-heading-little-card-main-heading);
    font-weight: var(--font-weight-all-headings);
    letter-spacing: var(--letter-spacing-hero-subheading-three-card-heading);
}

.common-container-description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: start;
    justify-content: center;

    color: var(--color-black);
}

.cont-btn {
    margin-top: 0.8rem;
}

.common-container-list {
    font-size: var(--font-size-three-card-description);
    line-height: var(--line-height-three-card-description);
    color: var(--color-black);

    list-style-position: inside;
    margin-left: 1.5rem;
}

.cont-image {
    border-radius: 20px;
}

/** WHY CORDA */
.why-corda-section {
    background-color: var(--color-maroon);

}

.why-corda-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    color: white;
    padding: 5rem 0;
}

.why-corda-heading {
    font-size: var(--font-size-three-card-heading-maroon-heading-little-card-main-heading);
    font-weight: var(--font-weight-all-headings);
    line-height: var(--line-height-maroon-heading);
    letter-spacing: var(--letter-spacing-hero-subheading-three-card-heading);

    flex-grow: 1;
}

.why-corda-btn {
    flex-grow: 0.5;
    display: flex;
    justify-content: start;
}

.inside-why-corda-btn {
    flex-grow: 0;
}

/** USE CASES */
.use-cases-section {
    background-color: var(--color-little-card);
}

.use-cases-container {
    padding: 2rem 0;
}

.use-cases-heading {
    font-size: var(--font-size-three-card-heading-maroon-heading-little-card-main-heading);
    font-weight: var(--font-weight-all-headings);
    letter-spacing: var(--letter-spacing-hero-subheading-three-card-heading);
    padding: 2.3rem 0;

}

.use-cases-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 195px 162px;
    gap: 2rem;

    padding: 1.4rem 0 2.8rem;
}

.cards {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.30rem;
}

.little-card-heading {
    font-size: var(--font-size-little-card-heading-maroon-subheading-four-card-heading);
    line-height: var(--line-height-maroon-subheading-little-card-heading);
    color: var(--color-black);
    font-weight: var(--font-weight-all-headings);
    letter-spacing: var(--letter-spacing-maroon-subheading);
}

.use-cases-navigation-link a {
    font-size: var(--font-size-four-card-description-little-cards-link);
    font-weight: var(--font-weight-four-card-subheading);
    text-decoration: underline;
}

.little-card-icon {
    font-size: 0.8rem;
    padding: 0 3px;
}

/** Testimonial */
.testimonials-section {
    color: white;
    background: url(./assets-corda/asset\ 14.svg);
    background-color: black;
    background-size: cover;
}

.testimonials-container {
    padding: 3rem 0 5rem;
    width: 88%;
}

.testimonials-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2.8rem;
}

.testimonials-header {
    font-size: var(--font-size-little-card-heading-maroon-subheading-four-card-heading);
    line-height: var(--line-height-maroon-subheading-little-card-heading);
    letter-spacing: var(--letter-spacing-maroon-subheading);
    font-weight: var(--font-weight-all-headings);
}

.common-test-card {
    border: 2px solid white;
    background-color: white;
    color: black;
    border-radius: 1.5rem;
    padding: 2.4rem;
}

.common-test-title {
    font-size: var(--font-size-four-card-subheading);
    font-weight: var(--font-weight-four-card-subheading);
    line-height: var(--line-height-four-card-subheading);
    margin-top: .5rem;
}

.common-test-para {
    font-size: var(--font-size-four-card-description-little-cards-link);
    line-height: var(--line-height-four-card-ddescription);
    font-weight: 350;
    margin-top: .5rem;
}

.test-nav {
    margin-top: .5rem;
    padding-left: .3rem;

    display: flex;
    align-items: end;
    gap: .4rem;
}

.test-nav a {
    font-size: var(--font-size-four-card-description-little-cards-link);
}

.common-test-ebook-div {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.ebook {
    font-size: var(--font-size-four-card-description-little-cards-link);
    font-weight: 700;
}

/** Resource */
.resources-container {
    padding: 2.8rem 0 5rem;
}
.resources-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resource-title {
    font-size: var(--font-size-little-card-heading-maroon-subheading-four-card-heading);
    line-height: var(--line-height-hero-subheading);
    font-weight: var(--font-weight-all-headings);
    letter-spacing: var(--letter-spacing-maroon-subheading);
}
.resource-view {
    text-decoration: underline;
    font-size: 1rem;
}
.card-date {
    font-size: var(--font-size-four-card-description-little-cards-link);
    line-height: var(--line-height-four-card-ddescription);
    font-weight: var(--font-weight-all-description);
    margin-top: .55rem;
}
.card-para {
    font-size: var(--font-size-hero-description-FAQ-subheading);
    line-height: var(--line-height-three-card-description);
    margin-top: .55rem;
}
.resources-second-card{
    background-color: var(--color-primary);
    padding: 2.5rem;
}
.resources-third-card {
    background-color: var(--color-resource-one-card);
    padding: 2.5rem;
}
.radius {
    border-radius: 1.5rem;
}
.common-card-with-img {
    margin-bottom: 1.2rem;
}

/** CTA section */
.cta-section {
    background-color: var(--color-primary);
}

.cta-container {
    padding: 2.5rem 0 5rem;
    width: 55%;
}

.cta-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.cta-header {
    padding: 2.5rem 0;
}

.cta-title {
    font-size: var(--font-size-hero-subheading-FAQ-heading);
    font-weight: var(--font-weight-all-headings);
    line-height: var(--line-height-hero-subheading);
    letter-spacing: var(--letter-spacing-hero-subheading-three-card-heading);
}

.cta-para {
    margin-top: 2.5rem;
    font-size: var(--font-size-three-card-description);
    line-height: var(--line-height-three-card-description);
}

.cta-para a {
    text-decoration: underline;
}

.cta-form label {
    display: block;
}

.common-form-div {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}

.common-form-div label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.common-form-div input,
select {
    margin: .5rem 0rem .1rem;
    padding: .80rem 1rem;
    width: 100%;
    border: 1px solid #666;
    border-radius: .25rem;
}

.checkbox {
    display: flex;
    gap: 1rem;
    margin: 1.25rem 0 .5rem;
    width: 65%;
    padding-bottom: 0.8rem;
}

.checkbox label {
    line-height: var(--line-height-maroon-description);
}

.checkbox label a {
    text-decoration: underline;
}

.checkbox input {
    font-size: 2rem;
}

.cta-submit-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}

.cta-submit-button {
    font-size: 1rem;
    padding: 0.95rem 2rem 0.95rem 1.5rem;
    font-weight: 500;
    margin: .5rem 0;
}

.cta-submit-button:hover {
    cursor: pointer;
}

/** FOOTER */
.footer-container {
    padding: 0rem 1rem 3rem 1rem;
    margin-bottom: 4rem;
}
.footer-image {
    height: auto;
    width: 50px;
}

.footer-social-icons {
    display: flex;
    gap: 1rem;
    margin: 0 0 2.5rem;
    font-size: 1.5rem;
}

.footer-image {
    margin: 4rem 0;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;

    font-size: var(--font-size-four-card-description-little-cards-link);
    line-height: var(--line-height-four-card-ddescription);
    font-weight: var(--font-weight-all-description);
}